################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capsule.TaskManager/Service/Capsule.TaskManager.Api/Properties/PublishProfiles
