USE [master]
GO
/****** Object:  Database [TaskManager]    Script Date: 9/28/2018 8:54:48 PM ******/
CREATE DATABASE [TaskManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TaskManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TaskManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManager]
GO
USE [TaskManager]
GO
/****** Object:  Table [dbo].[ParentTask]    Script Date: 9/28/2018 8:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentTask](
	[Parent_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_Task] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ParentTask] PRIMARY KEY CLUSTERED 
(
	[Parent_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 9/28/2018 8:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Task_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_ID] [int] NOT NULL,
	[Task] [varchar](255) NOT NULL,
	[Start_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NULL,
	[Priority] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Task_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParentTask] ON 

INSERT [dbo].[ParentTask] ([Parent_ID], [Parent_Task]) VALUES (1, N'Test Parent Task1')
INSERT [dbo].[ParentTask] ([Parent_ID], [Parent_Task]) VALUES (2, N'Test Parent Task2')
SET IDENTITY_INSERT [dbo].[ParentTask] OFF
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([Task_ID], [Parent_ID], [Task], [Start_Date], [End_Date], [Priority], [IsActive]) VALUES (1, 1, N'First Task', CAST(N'2018-09-26T00:00:00.000' AS DateTime), CAST(N'2018-09-30T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Task] ([Task_ID], [Parent_ID], [Task], [Start_Date], [End_Date], [Priority], [IsActive]) VALUES (2, 1, N'Second Task', CAST(N'2018-09-26T00:00:00.000' AS DateTime), CAST(N'2018-09-30T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Task] ([Task_ID], [Parent_ID], [Task], [Start_Date], [End_Date], [Priority], [IsActive]) VALUES (3, 1, N'Third Task', CAST(N'2018-09-26T00:00:00.000' AS DateTime), CAST(N'2018-09-30T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Task] OFF
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_ParentTask] FOREIGN KEY([Parent_ID])
REFERENCES [dbo].[ParentTask] ([Parent_ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_ParentTask]
GO
USE [master]
GO
